@font-face {
	font-family: 'sfproheavy';
	src: url("/font/sf-pro-display_heavy.woff2");
	/* font 
 */
}
@font-face {
	font-family:'sfproregular';
	src: url("/font/sf-pro-display_regular.woff2");
	/* font 
 */
}
@font-face {
	font-family:'sfprosemibold';
	src: url("/font/sf-pro-display_semibold.woff2");
	/* font 
 */
 }
 @font-face {
	font-family:'sfprotextsemobold';
	src: url("/font/sf-pro-text_semibold.woff2");
	/* font 
 */
}
@font-face {
	font-family:'sfprotextregular';
	src: url("/font/sf-pro-text_regular.woff2");
	/* font 
 */
}
@font-face {
	font-family:'sfprotextsemibold';
	src: url("/font/sf-pro-text_semibold.woff2");
	/* font 
 */
}
@font-face {
	font-family:'iconprobold';
	src: url("/font/sf-pro-icons_bold.woff2");
	/* font 
 */
}

@font-face {
    font-family: 'Open-sans-regular';
    src: url('./opensans-regular-webfont.woff');
}



*,::before,::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'sfprotextregular', helvetica, 'helvetica neu';
}
/* contenaire dans le header principal 
 */

header{
    display: flex;
    justify-content: space-around;
    row-gap: 2px;
    align-items: center;
    width: 1349px;
    height: 50px;
    background-color: #313132;
    padding: 0 170px;
    position: fixed;
    z-index: 4;
   
}

header svg:hover{
    -webkit-text-fill-color: white;   
}
#search{
    margin-top: 50px;
}
#bag{
    margin-top: 5px;
}
/* contenaire dans le header 2 unicef 
 */
 #headerunicef{
    width: 100%;
    height: 5em;
    background-color: #f5f5f7;   
    display: flex;
    justify-content: center;
    row-gap: 2px;
    align-items: center;
    color: #06c;
    position: absolute;
    top: 3.3em;
    font-family:  'Helvetica Neue', Helvetica, 
}
.text1{
    position: absolute;
    z-index: 3;
    top: 12em;
    left: 520px;
    
}

#iphonetext{
    z-index: 1;
    text-align: center;
}

#imgunicef2{
    margin-left: 15px;
}
#imgunicef2, #iphone13, #iphonese, #imgfille, #imgfemme, #imgmontre:hover{
    cursor: pointer;

}
#iphone13{
    margin-top: 110px; 
    margin-bottom: -170px;

}
#iphonese{
    margin-bottom: -140px;
}

video{
    width: 100%;
    height: 550px;
    margin-bottom: 10px;
} 
#contenaire0{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
#streamnow{
    size: 10px;
}
.contenaireimg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}
#imgfille{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 13px;
    width: 99%;
    height: 590px;
    margin-left: 13px;
    padding-right: 13px;
    margin-bottom: 13px;
}
#promo4 {
    background: url("img/promo4.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#promo2{
    background: url("img/promo2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#imgfemme{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 13px;
    width: 99%;
    height: 590px;
    margin-left: 13px;
    padding-right: 13px;
    margin-bottom: 13px;
}
#promo1 {
    background: url("img/privacy1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#promo3{
    background: url("img/promo3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#imgmontre{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 13px;
    width: 99%;
    height: 590px;
    margin-left: 13px;
    padding-right: 13px;
    margin-bottom: 13px;
}
#promo6{ 
    background: url("img/promo6.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#promo5{
    background: url("img/promo5.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*footer*/

footer{
    background-color: #f5f5f7;
    padding: 10px;
    margin: 10px;
    color: #6e6e73;
    font-family: 'sfprotextregular';
    font-size: 12px;
    z-index: 3;
}
#shop{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 20px;    
    line-height: 25px;
    z-index: 3;
}
#moniphone13{
    z-index: 3;
    position: relative;
    margin-left: 10px;
}
#get{
    margin-bottom: 20px;
    border-bottom: #6e6e73;
    border-bottom: 1px solid #d2d2d7;
    position: relative;
    padding-bottom: 20px;
    z-index: 3;
}
#more{
    display: grid;
    grid-template-columns: 1fr;
    z-index: 3;
}
.colorblack{
    color: #1d1d1f;
}
#footer{
    width: 980px;
    margin: auto;
}
#copyright{
    border-top: 1px solid #d2d2d7;
    position: relative;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#morre{
    position: relative;
    padding-bottom: 10px;
}
#wdc22{
    z-index: 3;
    position:absolute;
    margin-top: -1370px;
    margin-left: 170px; 
}
#watch{
    z-index: 3;
    position:absolute;
    margin-top: -1150px;
    margin-left: 950px; 
}
#ipadair{
    z-index: 3;
    position:absolute;
    margin-top: -1150px;
    margin-left: 170px; 
}
#arcade{
    z-index: 3;
    position:absolute;
    margin-top: -550px;
    margin-left: 900px;
}
#text1{
    z-index: 4;
    position:absolute;
    margin-top: -2450px;
    margin-left: 500px;
}
#text2{
    z-index: 4;
    position:absolute;
    margin-top: -3150px;
    margin-left: 500px;
}
#texte5{
    z-index: 4;
    position:absolute;
    margin-top: -1319px;
    margin-left: 100px;
}
#privacy{
    font-family: 'sfprotextregular';
    color:#f5f5f7;
    font-size: 50px;
    z-index: 4;
    position:absolute;
    margin-top: -1800px;
    margin-left: 750px; 
    font-weight: bolder;
}
#learnone{
    font-family: 'sfprotextregular';
    color:#f5f5f7;
    font-size: 17px;
    z-index: 4;
    position:absolute;
    margin-top: -1745px;
    margin-left: 950px;
    z-index: 3;
}
#text3{
    z-index: 4;
    position:absolute;
    margin-top: -505px;
    margin-left: 900px;
    z-index: 3;
}
#texte6{
    z-index: 4;
    position:absolute;
    margin-top: -605px;
    margin-left: 900px;
    z-index: 3;
}
.find{
    color: #06c;
}
#united{
    position: absolute;
    margin-left: 900px;
    margin-top: 10px;
}
#site{
    position: absolute;
    margin-left: 740px;
    margin-top: 10px;
}
#legal{
    position: absolute;
    margin-left: 690px;
    margin-top: 10px;
}
#sale{
    position: absolute;
    margin-left: 570px;
    margin-top: 10px;
}
#terme{
    position: absolute;
    margin-left: 470px;
    margin-top: 10px;
}
#privacyone{
    position: absolute;
    margin-left: 290px;
    margin-top: 10px;
}
#cc{
    position: absolute;
    margin-top: 10px;
}



#blue-texts{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;

}

#blue-texts span:nth-child(2){
    padding-right: 2em;
}

#blue-texts1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    margin-top: 1em;

}

#blue-texts2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    margin-top: 1em;

}



.wwd{
   transform: translate(20px,450px);
}



